<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include('./include/_head.ejs') %>
</head>
<body>
    <div class="wrap">
        <section class="section kv">
            <div class="inner">
                <img src="../assets/images/kv_typo.png" alt="H LIGHT DAY" class="kv-typo"> 
                <p class="kv-text">H.LIGHT DAY<br>캘린더 출석체크하고 혜택 쿠폰 받자!</p>
            </div>
        </section>
        <section class="section calendar">
            <div class="inner">
                <div class="calendar-head">
                    <span class="month">6월</span>
                    <p class="calendar-text">'H'를 완성하면 특별한 혜택이!</p>
                </div>
                <div class="calendar-body">
                    <div class="weekdays-wrap">
                        <span class="weekday">S</span>
                        <span class="weekday">M</span>
                        <span class="weekday">T</span>
                        <span class="weekday">W</span>
                        <span class="weekday">T</span>
                        <span class="weekday">F</span>
                        <span class="weekday">S</span>
                    </div>
                    <div class="month-grid">
                        <!-- 캘린더 영역 -->
                        <!-- 출석체크 활성화: .day-wrap 요소에 active 클래스 추가(구현필요) -->
                    </div>
                </div>
                <div class="btn-calendar">
                    <div class="btn-wrap h-complete" data-percent='25'> <!-- H 일부 요소 완성 개수에 따른 data-pecent값(구현필요) / 값 변경 시 프로그레스 및 .num, .percent 값 변화(구현완료) -->
                        <button type='button' class="btn">
                            <span class="percent">
                                <span class="num"></span>
                            </span>
                            <em class="btn-text">H 완성 보상 받기</em>
                        </button>
                        <div class="btn-gradient">
                            <span class="percent"></span>
                        </div>
                    </div>
                    <div class="btn-wrap attend-complete" data-percent='63'> <!-- 출석체크 완료 개수에 따른 data-percent값 변동(구현필요) / 값 변경 시 프로그레스 및 .num, .percent 값 변화(구현완료) -->
                        <button type="button" class="btn">
                            <span class="percent">
                                <span class="num"></span>
                            </span>
                            <em class="btn-text">출첵 보상 받기</em>
                        </button>
                        <div class="btn-gradient">
                            <span class="percent"></span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section noti">
            <div class="inner">
                <div class="noti-body">
                    <em class="noti-title">캘린더 출석 알림 받으세요!</em>
                    <p class="noti-desc">매일 오전 10:00 ~ 12:00 알림</p>
                </div>
                <div class="input-noti">
                    <input type="checkbox" id="switch"/><label for="switch">출석 알림 토글 버튼</label>
                </div>
            </div>
        </section>
        <section class="section rewards">
            <div class="inner">
                <div class="rewards-btn">
                    <button class="btn point">
                        <span class="btn-text">6월 적립 포인트</span>
                    </button>
                </div>
                <em class="cur-point">4,620 P</em>
                <div class="sorting-btn-wrap btn-swiper">
                    <ul class="sorting-btn-list swiper-wrapper">
                        <li class="swiper-slide">
                            <button class="btn btn-reward active"> <!-- 버튼 활성화: active 클래스 -->
                                <span class="btn-text">받은 혜택</span>
                            </button>
                        </li>
                        <li class="swiper-slide">
                            <button class="btn btn-reward">
                                <span class="btn-text">이달의 혜택</span>
                            </button>
                        </li>
                        <li class="swiper-slide">
                            <button class="btn btn-reward">
                                <span class="btn-text">지난 혜택</span>
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="rewards-list">
                    <div class="rewards-item link-reward"> <!-- 바로가기: link-reward 클래스 -->
                        <div class="date-wrap">
                            <span class="date">5월 10일</span>
                        </div>
                        <div class="img-wrap">
                            <img src="" alt="">
                        </div>
                        <div class="text-wrap">
                            <span class="caption">클럽프렌즈 4월 혜택</span>
                            <div class="title-wrap">
                                <em class="title">
                                    에버랜드<br>2천 솜포인트
                                </em>
                            </div>
                            <spna class="period">2025.06 .06 - 2025.06.30</spna>
                        </div>
                        <div class="status-wrap">
                            <button class="btn link">
                                <span class="btn-text">바로가기</span>
                            </button>
                        </div>
                    </div>
                    <div class="rewards-item d-day">  <!-- D-day: d-day 클래스 -->
                        <div class="date-wrap">
                            <span class="date">3월 8일</span>
                        </div>
                        <div class="img-wrap">
                            <img src="" alt="">
                        </div>
                        <div class="text-wrap">
                            <span class="caption">클럽프렌즈 4월 혜택</span>
                            <div class="title-wrap">
                                <em class="title">
                                    인상파, 모네에서<br>미국으로 : 빛 바다를 건너다 전시 할인권
                                </em>
                            </div>
                            <spna class="period">2025.06.06 - 2025.06.30</spna>
                        </div>
                        <div class="status-wrap">
                            <button class="btn link">
                                <span class="btn-text">D-day</span>
                                <span class="status">23</span>
                            </button>
                        </div>
                    </div>
                    <div class="rewards-item fin"> <!-- 종료: fin 클래스 -->
                        <div class="date-wrap">
                            <span class="date">4월 14일</span>
                        </div>
                        <div class="img-wrap">
                            <img src="" alt="">
                        </div>
                        <div class="text-wrap">
                            <span class="caption">클럽프렌즈 4월 혜택</span>
                            <div class="title-wrap">
                                <em class="title">
                                    현대백화점 전점<br>플러스포인트 1만P
                                </em>
                            </div>
                            <spna class="period">2025.06.06 - 2025.06.30</spna>
                        </div>
                        <div class="status-wrap">
                            <button class="btn link">
                                <span class="btn-text">Fin</span>
                                <span class="status">종료</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto">Bootstrap</strong>
      <small>11 mins ago</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Hello, world! This is a toast message.
    </div>
  </div>
</div>
</html>